<h2>What's that I hear in the distance?</h2>

<pre>
                                               ______
                                          .-"""".._'.       _,##
                                   _..__ |.-"""-.|  |   _,##'`-._
                                  (_____)||_____||  |_,##'`-._,##'`
                                  _|   |.;-""-.  |  |#'`-._,##'`
                               _.;_ `--' `\    \ |.'`\._,##'`
                              /.-.\ `\     |.-";.`_, |##'`
                              |\__/   | _..;__  |'-' /
                              '.____.'_.-`)\--' /'-'`
                               //||\\(_.-'_,'-'`
                             (`-...-')_,##'`
                          _,##`-..,-;##`
                       _,##'`-._,##'`
                    _,##'`-._,##'`
                      `-._,##'`


</pre>

<h1>Why it's the Coffee Express train!</h1>

<div>
  <i>chugga chugga chugga...</i>
</div>

<section>
  <h1>New to the Coffee Express line?</h1>

  <p>
    That's okay.
    <a href="/passengers/new">New passengers are always welcome.</a>
  </p>
</section>
