<h1><%= @passenger.name %></h1>

<p>
  So you want to update the <%= @passenger.name %>?
</p>

<%= render 'form' %>

<div>
  <a href="/passengers">See All Passengers</a>
</div>

<div>
<a href="/" title="home">↩ Back to the station</a>
</div>
