<h1>All the passengers</h1>

<p>
  Here are all the riders of our Coffee Express train.
  We would like to thank the Conductors, the Engineers,
  and of course our Passengers, without which the
  Coffee Express train wouldn't be possible.
  Thank you.
</p>

<section>
  <h1>Passenger Manifest</h1>

  <p>
    Here are the riders of the Coffee Express!
  </p>

  <table>
    <tr>
      <th>Name</th>
      <th>Saying</th>
      <th>Remove</th>
    </tr>

    <% @passengers.each do |passenger| %>
    <tr>
      <td class="name"><a href="/passengers/<%= passenger.id %>"><%= passenger.name %></a></td>
      <td class="saying"><%= passenger.saying %></td>
      <td>⌫</td>
    </tr>
    <% end %>
  </table>

</section>

<section>
  <h1>New passenger?</h1>

  <p>
    New passengers are always welcome!
  </p>

  <p><a href="/passengers/new">Sign up for Coffee Express</a></p>
</section>

<a href="/" title="home">↩ Back to the station</a>
