<h1>All the passengers</h1>

<p>
  Here are all the riders of our Coffee Express train.
  We would like to thank the Conductors, the Engineers,
  and of course our Passengers, without which the
  Coffee Express train wouldn't be possible.
  Thank you.
</p>

<section>
  <h2>Passenger Manifest</h2>

  <table>
    <tr>
      <th>Name</th>
    </tr>

    <tr>
      <td>Coffee Hound!</td><td>yelalah!</td>
    </tr>
  </table>
</section>

<section>
