<h1>New Passenger</h1>

<p>
  New to the Coffee Express train?
  That's okay.  You can sign up here.
</p>

<%= render 'form' %>

<div>
<%= link_to 'Our passengers', passengers_path %>
</div>

<div>
<a href="/" title="home">↩ Back to the station</a>
</div>
