<h1><%= @passenger.name %></h1>

<p>
  The <%= @passenger.name %>
  has been know to say
  &ldquo;<%= @passenger.saying %>&rdquo;
</p>

<div>
  <a href="/passengers">See All Passengers</a>
</div>

<div>
<a href="/" title="home">↩ Back to the station</a>
</div>
